PORT=5000
JWT_SECRET=replace-this-with-a-long-random-secret
GOOGLE_CLIENT_ID=447864733103-nihlile34bjr4aglbnsf6jt3ldq5cqbt.apps.googleusercontent.com
VITE_GOOGLE_CLIENT_ID=447864733103-nihlile34bjr4aglbnsf6jt3ldq5cqbt.apps.googleusercontent.com
ADMIN_EMAILS=yourgmail@gmail.com,admin@example.com
